target/
Servers/
.metadata/
.recommenders/
.settings/
RemoteSystemsTempFiles/
.classpath
.project
# Puthon related files
.pydevproject
*.pyc
.checkstyle
.eclipse-pmd
.pmd
*.iml
*.ipr
*.iws
.idea
.springBeans
.externalToolBuilders

# Maven formatter plugin
*/.cache/
.cache/

# Pre-release temporary files
*.releaseBackup
release.properties

# VS Code
.vscode/
*.code-workspace

# Serialized objects
*.ser

# Locks and temporary files
*~
.attach_pid*

# OSX files
.DS_Store
