*               text=auto
*.txt           text eol=lf
*.sh            text eol=lf
*.properties    text eol=lf
*.groovy        text eol=lf
*.scala         text eol=lf
*.pl            text eol=lf
*.awk           text eol=lf
*.xml           text eol=lf
*.yaml          text eol=lf
*.json          text eol=lf
*.py            text eol=lf
*.js            text eol=lf
*.bat           text eol=crlf
*.vbs	        text eol=crlf
*.jpg           -text
*.pdf           -text
*.png           -text
*.gif           -text
*.jar           -text
*.zip           -text
*.war           -text
