*               text=auto
*.sh            eol=lf
*.properties    eol=lf
*.groovy        eol=lf
*.scala         eol=lf
*.pl            eol=lf
*.awk           eol=lf
*.xml           eol=lf
*.yaml          eol=lf
*.json          eol=lf
*.py            eol=lf
*.js            eol=lf
*.bat           eol=crlf
*.vbs	        eol=crlf
*.jpg           -text
*.pdf           -text
*.png           -text
*.gif           -text
*.jar           -text
*.zip           -text
*.war           -text
